@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;

}

body {
    justify-content: center;
    justify-self: center;
}

.navbar {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000;
    background: #FFFFFD;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1000;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-content: center;


}

.nav3 {
    align-items: center;
    justify-content: center;
    display: flex;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

nav ul li a:hover {
    font-weight: bold;
}

nav ul li a:active {
    font-weight: bold;
}

button {
    width: auto;
    max-width: 200px;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #000;
    background: #18514A;
    box-shadow: 0px 4px 0px 0px #000;
    color: #fff;
}

button span {
    background-color: #00000000;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.profile img {
    stroke-width: 1px;
    stroke: #000;
    width: 40px;
    height: 40px;
}

.profile-content {
    display: flex;
    flex-direction: column;
}

.name a{
    font-size: 14px;
    text-decoration: none;
    color: #000;
}


.level {
    font-size: 12px;
    font-weight: 900;
}

.logo {
    width: 35px;
}